
.billboard-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    position: relative;
    max-width: 100%;
}

.poster img {
    position: relative;
    width: 1340px;
    max-width: 100%;
}

.window {
    padding-top: 20px;
    padding-left: 20px;
    max-width: 100%;
    position: absolute;
    top: 55px;
    left: 73px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    background-color: white;
    width: 440px;
    font-size: 0.9rem;
    height: 140px;
}
.window h1{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight:700;
    font-size: 1.9rem;  
}
.window p {
    font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 400;
    font-size: 1.25rem;
}

.imgsmall {
    display: none;
}


@media only screen and (max-width: 1100px) {

    .window {
        top: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .window {
        position: relative;
        width: 100%;
        padding: 20px;
        margin: 0;
        top: 0;
        left: 0;
    }

    .poster {
        box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    }
}