
.headline__main-text{
  font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  font-size: 1.66rem;
}
.headline__sub-text{
  font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.1rem;
    color: #1c1d1f;
    max-width: 80rem;
}