.content-container{
    width: 700px;
    margin-top: 40px;
}
.content-headline{
    font-weight: 700;
    font-size: 1.5rem;
    height: 55px;
    font-family: sans-serif;
}
.content-info{
    font-family: sans-serif;
    color: #454648;
    font-size: 0.9rem;
}
.info-and-expand-btn{
    margin-bottom: 7px;
}
.expand-btn{
    background-color: inherit;
    border: none;
    color: #5624d0;
    float: right;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.85rem;
}