a{
    text-decoration: none;

}

a:hover{
    text-decoration: none;
}
.my-card{
    position: relative;
    width: 232px;
    max-width: 100%;
}
.course-card{
    width: 100%;
    max-width: 100%;
}
.course-title{
    color: black;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1rem;
    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 40px;
}

.course-img {
    width: 100%;
    border: 1px solid #d1d7dc;
    margin-bottom: 8px;
}

.creator {
    color: #6a6f73;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}
.course-card-stars{
    font-size: 0.7rem;
    color: #f0ad42;
}
.rate {
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 5px;
    color: #B4690E;
}

.price{
    color: black;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -0.02rem;
}

.cnt {
    margin-left: 2px;
    font-size:0.8rem;
    color: #83869C;
}
.best-seller{
    background-color: #eceb98;
    margin-top: 10px;
    padding: 3px  10px;
    color: #3d3c0a;
    border: 1px;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 600;
    font-size: 0.8rem;
    width: max-content;
}
.my-card:hover .course-img{
    filter: contrast(70%);
}
.my-card:hover{
    cursor: pointer;
}
.course-pop-up{
    padding-left: 10px;
    display: none;
}
.my-card:hover .course-pop-up{
    cursor:auto;
    display: block;
    position: absolute;
    left: 230px;
    top: -60px;
}

.course-pop-up{
    z-index: 9999;
}