.what-you-learn-container{
    border: 1px solid #d1d7dc;
    width: 700px;
    padding-top: 24px;
    padding-bottom: 16px;
    padding-left: 25px;
    margin-top: 40px;
}
.wyl-headline{
    font-weight: 700;
    font-size: 1.45rem;
}
.wyl-content{
    padding-top: 20px;
    width: 100%;
}
.wyl-items{
    padding-left: 0px;
    list-style: none;
}
.wyl-items li{
    display: inline-flex;
    width: 330px;
    font-size: 0.9rem;
    padding-right: 10px;
}
.check-icon{
    height: 100%;
}
.objective-item{
    padding-bottom: 10px;
}